@font-face {
  font-family: 'kingthings_italique';
  font-style: normal;
  font-weight: normal;
  src: url('../font/kingthings_italique-webfont.eot?#iefix') format('embedded-opentype'), url('../font/kingthings_italique-webfont.ttf') format('truetype'), url('../font/kingthings_italique-webfont.woff2') format('woff2'), url('../font/kingthings_italique-webfont.woff') format('woff');
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 350px;
}

.canvas-container {
  height: 300px;
  margin: 0 auto;
  position: relative;
  width: 300px;
}

.canvas-container>canvas {
  left: 0;
  position: absolute;
  top: 0;
}
