@font-face {
	font-family: 'kingthings_italique';
	src:	url('../font/kingthings_italique-webfont.ttf') format('truetype'),
		url('../font/kingthings_italique-webfont.woff2') format('woff2'),
		url('../font/kingthings_italique-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

div.container {
	width: 350px;
	text-align: center;
	margin: 0px auto;
}

.article-container {

}

.canvas-container {
	position: relative;
	margin: 0 auto;
	width: 300px;
	height: 300px;
}

.canvas-container > canvas {
	position: absolute;
	left: 0px;
	top: 0px;
}
